---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
		h1 {text-align: center;}
		p {text-align: center;}
		div {text-align: center;}
	        body {
	            font-family: Arial, sans-serif;
	            text-align: center;
	        }
	        input[type="text"] {
	            padding: 10px;
	            width: 250px;
	            font-size: 16px;
	        }
	        input[type="submit"] {
	            padding: 10px 20px;
	            font-size: 16px;
	        }
	        #error {
	            color: red;
	            margin-top: 20px;
	        }
	</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🧭🎒🗺🐒👧🏽</h1>
   			<h1>Hello, Dora!</h1>  
		</main>
        	<body>
			<h2>Enter Your Access Code</h2>
			    <form id="codeForm">
			        <input type="text" id="codeInput" placeholder="Enter code here" required>
			        <input type="submit" value="Go">
			    </form>
			    <div id="error"></div>
			
			    <script>
			        const codeMap = {
			            "2525": "https://www.dropbox.com/sc/u0i0qbqcmcje7uu/AAD1Lc7-k1tLcm1P41rCXx5Xa",
				    "016719": "https://workers-chat.mail-lance.workers.dev/#22c6b499844d679db1d78408d2b95e9e0411fdc7da1591e7c592566eb89295b1",
			            "12345": "https://durable-chat.mail-lance.workers.dev/Pb5hhT2BSreot60xOlG-9",
			        };
			
			        document.getElementById("codeForm").addEventListener("submit", function(event) {
			            event.preventDefault(); // Prevent form from submitting normally
			
			            const code = document.getElementById("codeInput").value.trim();
			
			            if (codeMap[code]) {
			                window.location.href = codeMap[code]; // Redirect to the URL
			            } else {
			                document.getElementById("error").textContent = "Invalid code. Please try again.";
			            }
			        });
			    </script>
		</body>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<Footer />
	</body>
</html>
